$white-color: #ffffff;
$black-color: #000000;
$popup-bg: #f8f8f8;
$gray-bg: #f1f0f0;
$green-color: #82aa16;
$red-color: #f92b34;
$gray-text: #7b7b7b;
$dark-gray-text: #3c3c3c;
$warning-text: #8b6d3b;
$name-text: #67512d;
$warning-bg: #fafac4;
$link-text: #d17300;
$light-gray: #b9b9b9;
$peach-dark: #e4d6be;
$peach-light: #f2e3ca;
$yellow-color: #ffeb7d;
$black-50-color: rgba(0,0,0,.5);